* {
	margin: 0;
}

.container{
	background-image: linear-gradient(180deg, #fff, #ddd);
	background-size: auto;
	height: auto;
	width: auto;
}

.header{
	background-color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
}

#logo{
	height: 50px;
	width: 50px;
	border-radius: 10px;
	margin: 10px;
}

#search-bar{
	border: 3px solid #bbb;
	border-radius: 50px;
	padding: 15px;
	margin: auto;
	height: 30px;
	background-color: #fff;
	display: flex;
	align-items: center;		
}

#search-text{
	border: none;
	background: none;
	outline: none;
	float: left;
	color: #333;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	width: 1000px;
}

#search-icon{
	height: 15px;
	width: 15px;
	padding-left: 10px;
	float: right;
}

#page{
	text-decoration: none;
	padding: 10px;
	color: black;
	font-size: 20px;
	font-family: verdana;
	color: #999;
}

.main{
	height: 300px;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 300px;
}

#line{
	font-size: 70px;
	font-family: verdana;
	font-weight: 700;
	min-width: 700px;
}

#globe{
	height: 300px;
	width: 350px;
	padding-left: 50px;
}


.recent-items{
	height: 500px;
	width: auto;
	padding: 100px;
	background-color: #aaa;
}

#line2{
	font-size: 50px;
	font-family: verdana;
	color: #111;
	padding-bottom: 75px;
	text-align: center;
}

#icons{
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
	min-width: 750px;
}

#items{
	height: 150px;
	width: 150px;
	border-radius: 500px;
	background-size: cover;
}

.map{
	background-image: url("images/map.png");
	background-size: cover;
	height: 500px;
	width: auto;
}

.footer{
	background-color: black;
	height: 300px;
	width: auto;
}
