

a{
	text-decoration: none;
	color: #111;
	font-size: 20px;
	font-family: verdana;
	padding: 10px;
}

a:hover{
	color: #666;
}

.container{
	padding: 0;
	margin: 0;

}

#tag{
	color: #111;
	font-size: 35px;
	font-family: verdana;
	padding: 10px;
}
	


.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#globe{
	height: 65px;
	width: 70px;
	padding: 10px; 
}


#search-box{
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: auto;
}

#search-text{
	background: none;
	border: 1px solid #111;
	border-radius: 30px;
	outline: none;
	float: left;
	font-size: 15px;
	font-family: verdana;
	line-height: 30px;
	width: 500px;
	padding: 10px;
}

#search-icon{
	height: 15px;
	width: 15px;
	padding: 10px;
}


#nav{
	list-style-type: none;
	display: flex;

}
