*{
	margin: 0;	
}

h1{
	font-family: arial;
	font-size: 50px;
	text-align: center;
	padding: 15px;
}

h2{
	font-family: arial;
	font-size: 25px;
	padding: 15px;
}

h3{
	font-family: arial;
	font-size: 20px;
	padding: 15px;
}

p{
	font-family: arial;
	font-size: 15px;
	font-weight: 500; 
	margin-left: 10px;
	padding: 5px;
}

a{
	font-family: arial;
	font-size: 25px;
	text-decoration: none;
	color: #111;
	padding: 10px;
	font-weight: 700; 
}

header{
	display: flex;
	justify-content: space-around;
	align-items: left;
	padding: 0px;
	border: 1px solid #999;
	position: sticky;
	top: 0px;
}


.container{
	background-image: linear-gradient(60deg, #9d8f8f, #625757);
	background-size: auto;
	width: auto;
	height: 2000px;
}

#name{
	padding: 15px;
}

#info{
	margin: 50px;
	padding: 10px;
	height: 150px;
	width: auto;
	color: #111;
	background: rgba(225,225,225, .2);
	border-radius: 1rem;
}

#content{
	display: flex;
	justify-content: space-around;
	align-items: left;
}

#traders{
	margin-left: 50px;
	padding: 10px;
	height: 1000px;
	width: 750px;
	color: #111;
	background: rgba(225,225,225, .2);
	border-radius: 1rem;
}

#section{
	margin-right: 50px;
	padding: 10px;
	height: 500px;
	width: 500px;
	color: #111;
	background: rgba(225,225,225, .2);
	border-radius: 1rem;
}

#user{
	padding-bottom: 75px;
}

#avatar{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	float: left;
	margin-right: 10px;	
	padding: 10px;
}

#footer{
	margin: 50px;
	padding: 10px;
	height: 150px;
	width: auto;
	background: rgba(225,225,225, .2);
	border-radius: 1rem;
	text-align: center;
}
