body {

	background-color: #666666;
}


#header {
	background-color: #666666;
	text-align: center;
}

#main {

	font-size: 11

}

#footer {
	padding: 10px;
	background-color: #555555;
	text-align: right;
}
