#container{
	background-color: #555555;
}

#header{
	background-color: #999999;
	color: white;
	text-align: left;
	height: 150px;
	padding: 10px;
}

#search{
	text-align: right;
	padding: 10px;
}
#main{
	background-color: #444444;
	text-align: left;
	color: white;
	width: auto;
	height: 3000px;
	padding: 10px;
}

#footer{
	background-color: #000000;
	text-align: right;
	height: 150px;
	padding: 30px;
}
