#container {
	background-color: #555555;
}


#header {
	background-color: #999999;
	color: white;
	text-align: left;

}
#main {
	background-color: #444444;
	text-align: right;
}

#footer{
	#background-color: #000000;
	text-align: right;
}
